*{
  margin: 0;
  padding: 0;
}
.nav{
  background-color: lightblue;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
}

.card{
  width: 275px;
  /* border: 1px solid black; */
  overflow: hidden;

}
.card img{
  width: 100%;
  height: 182px;
  object-fit: cover;
  border-radius: 20px;
  /* object-position: top; */
}
#btns{
  width: 80%;
  margin: 20px auto;
}
.content{
  padding: 0.5rem;
}
.content p{
  margin: 0.2rem auto;
}
.title{
  font-weight: bold;

}
.rate-sla{
  font-size: 0.9rem;
}
.cuisines,.location{
  color: gray;
  font-size: 0.9rem;

}
.sla{
  font-weight: bold;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  margin:20px auto;
}

.card .shimmer-line{
  background-color: lightgrey;
  height: 12px;
  border-radius: 5px;
  margin: 10px auto;
}
.shimmer-image{
  width: 100%;
  height: 182px;
  background-color: lightgray;
  border-radius: 20px;
}

.shimmer-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}



.filter-btn,.clear-btn,.search-input{
  padding: 8px 15px;
  margin: 15px;
}